body {
  background-color: var(--background-primary);
  margin: auto;
}

header {
  & a {
    justify-content: center;
    gap: 0.43rem;
    margin-top: 1.5625rem;
    margin-bottom: 3.125rem;
    margin-inline: auto;
  }
}

main {
  display: inline-block;
  padding-inline: 2rem;
  width: 100%;

  div.top {
    flex-direction: column;
    gap: 1rem;
  }

}



@media (width < 40em) {
  body {
    max-width: 100%;
  }
  
}